@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: test;
  font-display: swap;
  src: url("../fonts/test-soehne-breit-buch.woff2") format("woff2"), url("../fonts/test-soehne-breit-buch.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: black;
}

._icon-instagram:before {
  color: black;
  content: "\e901";
}

._icon-twitter:before {
  color: black;
  content: "\e902";
}

._icon-youtube:before {
  color: black;
  content: "\e903";
}

._icon-facebook:hover:before {
  content: "\e900";
  color: rgb(63, 63, 226);
}

._icon-instagram:hover:before {
  color: orange;
  content: "\e901";
}

._icon-twitter:hover:before {
  color: rgb(114, 114, 255);
  content: "\e902";
}

._icon-youtube:hover:before {
  color: red;
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #958A8A;
  line-height: 1;
  font-family: "test";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "test";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner--left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.inner__subtext {
  color: rgba(96, 96, 96, 0.5);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.inner__title {
  color: #0C0C0C;
  line-height: 108%;
  margin-bottom: 1.125rem;
}

.inner__title span {
  color: #03f;
}

.inner__text {
  font-size: 1.125rem;
  line-height: 171%;
}

.inner__btn {
  text-align: center;
  padding: 0.6875rem 2.0625rem;
  font-size: 0.75rem;
  background-color: #03f;
  border-radius: 6.5625rem;
  color: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  min-height: 7.25rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 5;
}

.menu__item {
  text-align: center;
}

.menu__link {
  font-size: 0.875rem;
  color: #0C0C0C;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.action-header__login {
  z-index: 78;
  font-size: 0.875rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
}

.action-header__sign-up {
  z-index: 89;
  white-space: nowrap;
  font-size: 0.875rem;
  padding: 0.625rem 1.9375rem;
  border-radius: 6.5625rem;
  background: rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.footer__midl {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
}

.footer-left__logo:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.footer-left__copy {
  font-size: 0.6875rem;
  line-height: 142%;
}

.spollers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
  -webkit-column-gap: 1.6875rem;
     -moz-column-gap: 1.6875rem;
          column-gap: 1.6875rem;
}

.spollers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spollers__title {
  width: 100%;
  color: #0c0c0c;
  font-size: 0.9375rem;
  width: 100%;
  cursor: default;
  text-align: left;
  position: relative;
  list-style: none;
}

.spollers__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

._spoller-init .spollers__title {
  padding-right: 1.5625rem;
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

._spoller-init ._spoller-init .spollers__title {
  position: relative;
  width: 100%;
  text-align: left;
}

._spoller-init ._spoller-init .spollers__title::before,
._spoller-init ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.625rem;
  background-color: #000;
}

._spoller-init ._spoller-init .spollers__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 0.4375rem;
}

._spoller-init ._spoller-init .spollers__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8125rem;
  line-height: 142%;
}

.spollers__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.spollers__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.social:not(:last-child) {
  margin-bottom: 1.25rem;
}

.social__lable {
  color: #0c0c0c;
  font-size: 0.9375rem;
}

.social__lable:not(:last-child) {
  margin-bottom: 1.5rem;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.0625rem;
}

.social__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.list-privecy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 0.6875rem;
}

.list-privecy__item {
  line-height: 142%;
  font-size: 0.625rem;
}

.hero {
  position: relative;
}

.hero__bg img {
  pointer-events: none;
  z-index: -4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__inner {
  max-width: 31.875rem;
}

.inner__title--big {
  background-image: url("../img/hero/hero-under-txt.png");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
}

.featured__subtext {
  color: #606060;
  text-align: center;
  font-size: 0.8125rem;
  margin-bottom: 1.875rem;
}

.featured__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}

.find-sound {
  position: relative;
}

.find-sound::before {
  content: "";
  position: absolute;
  background: #f4f6f9;
  width: 200%;
  height: 33%;
  bottom: 0;
  left: -40%;
  border-radius: 100%;
  pointer-events: none;
}

.find-sound::after {
  content: "";
  pointer-events: none;
  position: absolute;
  background: #f4f6f9;
  width: 100%;
  height: 15%;
  bottom: 0;
}

.find-sound__bg img {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.find-sound__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 47.5rem;
}

.find-sound__inner {
  max-width: 35rem;
  text-align: center;
}

.find-sound__content-img {
  position: relative;
  padding-bottom: 65.7894736842%;
}

.find-sound__content-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.sync {
  background: #f4f6f9;
}

.sync__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 57.264957%;
  grid-template-columns: auto 57.264957%;
  /* 670/1170 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.sync__inner {
  max-width: 29rem;
}

.sync__content-img {
  position: relative;
  padding-bottom: 66.7660208644%;
}

.sync__content-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner {
  z-index: 200;
}

.creators {
  background: #0c0c0c;
  position: relative;
}

.creators::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  background: url("../img/creators/Subtract (1).svg") 0 0 no-repeat;
}

.creators__body {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.creators__inner {
  max-width: 25rem;
}

.creators__cards {
  z-index: 200;
}

.inner__title--white {
  color: #fff;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.card__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.card__row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.1875rem;
  background: #202020;
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
  line-height: 100%;
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.card__user--user1 {
  background: url("../img/creators/user-1.png") 0.2558139535em no-repeat;
}

.card__user--user2 {
  background: url("../img/creators/user-2.png") 0.2558139535em no-repeat;
}

.card__user--user3 {
  background: url("../img/creators/user-3.png") 0.2558139535em no-repeat;
}

.card__user--user4 {
  background: url("../img/creators/user-4.png") 0.2558139535em no-repeat;
}

.user__name {
  font-size: 0.75rem;
  line-height: 100%;
  margin-bottom: 0.25rem;
  color: #fff;
  text-transform: uppercase;
}

.user__position {
  font-size: 0.625rem;
  line-height: 100%;
  color: #fff;
}

.advantiges {
  position: relative;
  background: url("../img/icons/pattern.svg") 0 0/cover no-repeat;
  background-color: #0c0c0c;
}

.advantiges__title {
  text-align: center;
  line-height: 100%;
  color: #fff;
}

.advantiges__columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.1875rem, 1fr));
  gap: 2.5rem;
}

.column__body {
  display: -ms-grid;
  display: grid;
  row-gap: 0.9375rem;
}

.column__link {
  color: #fff;
  line-height: 100%;
}

.column__text {
  font-size: 1rem;
  color: #958A8A;
  line-height: 171%;
}

.make-music {
  z-index: 1000;
}

.make-music__body {
  -webkit-transform: translateY(-75px);
      -ms-transform: translateY(-75px);
          transform: translateY(-75px);
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  text-align: center;
  border-radius: 1.375rem;
  background: linear-gradient(95deg, #a659ff -28.73%, #7178ff 23.23%, #2148ff 62.74%, #ff3517 111.77%);
}

.make-music__title {
  max-width: 35rem;
  margin: 0 auto;
  line-height: 100%;
  color: #fff;
}

.make-music__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.make-music a {
  display: inline-block;
  font-size: 0.875rem;
  color: #fff;
  padding: 0.6875rem 2.0625rem;
  border-radius: 6.5625rem;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 47.99875em) {
  .hero__decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
  }
}

@media (min-width: 47.99875em) and (min-width: 91.875em) {
  .hero__decor {
    width: 49.1875rem;
  }

  .hero__decor {
    height: 43.8125rem;
  }
}

@media (min-width: 58.75em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2.0625rem;
       -moz-column-gap: 2.0625rem;
            column-gap: 2.0625rem;
  }
}

@media (min-width: 61.99875em) {
  .footer__container {
    -ms-grid-columns: 22% 50% 20%;
    grid-template-columns: 22% 50% 20%;
  }
}

@media (min-width: 68.75em) {
  .creators__body {
    -ms-grid-columns: auto 50%;
    grid-template-columns: auto 50%;
  }

  .card__row-top {
    margin-left: -3.125rem;
  }

  .card__body {
    max-width: 18.125rem;
  }
}

@media (min-width: 91.875em) {
  .inner__title {
    font-size: 3rem;
  }

  .inner__text:not(:last-child) {
    margin-bottom: 2.125rem;
  }

  .header__menu {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .action-header {
    -webkit-column-gap: 1.75rem;
       -moz-column-gap: 1.75rem;
            column-gap: 1.75rem;
  }

  .action-header__sign-up {
    padding-right: 1.9375rem;
  }

  .action-header__sign-up {
    padding-left: 1.9375rem;
  }

  .footer {
    padding-bottom: 8.125rem;
  }

  .spollers {
    row-gap: 3.75rem;
  }

  .hero__inner {
    padding-top: 12.1875rem;
  }

  .hero__inner {
    padding-bottom: 14.125rem;
  }

  .inner__title--big {
    font-size: 3.75rem;
  }

  .featured {
    padding-top: 5.875rem;
  }

  .featured {
    padding-bottom: 7.9375rem;
  }

  .featured__logos {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .featured__logos img {
    width: 9.25rem;
  }

  .featured__logos img {
    font-size: 3.375rem;
  }

  .find-sound__container {
    padding-bottom: 10.25rem;
  }

  .find-sound__inner {
    margin-bottom: 3.125rem;
  }

  .sync {
    padding-bottom: 15.625rem;
  }

  .creators {
    padding-top: 9.0625rem;
  }

  .creators {
    padding-bottom: 17.3125rem;
  }

  .card__body {
    padding-top: 1.75rem;
  }

  .card__body {
    padding-bottom: 1.75rem;
  }

  .card__body {
    padding-right: 1.75rem;
  }

  .card__body {
    padding-left: 1.75rem;
  }

  .card__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .advantiges__container {
    padding-bottom: 21.875rem;
  }

  .advantiges__title {
    font-size: 2.375rem;
  }

  .advantiges__title {
    margin-bottom: 7.0625rem;
  }

  .column__icon img {
    width: 2.5rem;
  }

  .column__icon img {
    height: 2.5rem;
  }

  .column__link {
    font-size: 1.375rem;
  }

  .make-music__body {
    padding-top: 2.5rem;
  }

  .make-music__body {
    padding-bottom: 2.5rem;
  }

  .make-music__title {
    font-size: 2.25rem;
  }
}

@media (max-width: 20em) {
  .inner__title {
    font-size: 1.5625rem;
  }

  .inner__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .header__menu {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .action-header {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .action-header__sign-up {
    padding-right: 1.25rem;
  }

  .action-header__sign-up {
    padding-left: 1.25rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .spollers {
    row-gap: 1.875rem;
  }

  .hero__inner {
    padding-top: 6.25rem;
  }

  .hero__inner {
    padding-bottom: 3.125rem;
  }

  .inner__title--big {
    font-size: 1.875rem;
  }

  .featured {
    padding-top: 3.75rem;
  }

  .featured {
    padding-bottom: 3.75rem;
  }

  .featured__logos {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .featured__logos img {
    width: 6.25rem;
  }

  .featured__logos img {
    font-size: 1.875rem;
  }

  .find-sound__container {
    padding-bottom: 5rem;
  }

  .find-sound__inner {
    margin-bottom: 1.875rem;
  }

  .sync {
    padding-bottom: 2.5rem;
  }

  .creators {
    padding-top: 4.375rem;
  }

  .creators {
    padding-bottom: 5rem;
  }

  .card__body {
    padding-top: 1.25rem;
  }

  .card__body {
    padding-bottom: 1.25rem;
  }

  .card__body {
    padding-right: 1.25rem;
  }

  .card__body {
    padding-left: 1.25rem;
  }

  .card__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .advantiges__container {
    padding-bottom: 12.5rem;
  }

  .advantiges__title {
    font-size: 1.375rem;
  }

  .advantiges__title {
    margin-bottom: 2.1875rem;
  }

  .column__icon img {
    width: 1.875rem;
  }

  .column__icon img {
    height: 1.875rem;
  }

  .column__link {
    font-size: 1.125rem;
  }

  .make-music__body {
    padding-top: 2.1875rem;
  }

  .make-music__body {
    padding-bottom: 2.1875rem;
  }

  .make-music__title {
    font-size: 1.375rem;
  }
}

@media (max-width: 68.75em) {
  .creators__body {
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  .creators__inner {
    max-width: 31.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .card__row-top {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .card__row-bottom {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
  }

  .sync__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sync__inner {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .inner__text--center {
    text-align: center;
  }
}

@media (max-width: 58.75em) {
  .header__container {
    min-height: 4.375rem;
  }

  .menu__body {
    display: -ms-grid;
    display: grid;
    row-gap: 0.9375rem;
    justify-items: center;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 5.9375rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    min-height: 4.375rem;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu__link {
    color: #958A8A;
    font-size: 1.875rem;
  }

  .action-header__login {
    color: #0C0C0C;
  }

  .action-header__sign-up {
    color: #0C0C0C;
    background: #000;
    background: rgba(57, 49, 49, 0.26);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 58.75em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .hero__decor {
    display: none;
  }

  .creators::after {
    top: 10%;
  }
}

@media (max-width: 27.5em) {
  .action-header__login {
    font-size: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 91.875em) {
@supports (font-size: clamp( 1.5625rem , 1.1625rem  +  2vw , 3rem )) {
    .inner__title {
      font-size: clamp( 1.5625rem , 1.1625rem  +  2vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1625rem  +  2vw , 3rem )) {
    .inner__title {
      font-size: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4059782609rem  +  0.7826086957vw , 2.125rem )) {
    .inner__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.4059782609rem  +  0.7826086957vw , 2.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4059782609rem  +  0.7826086957vw , 2.125rem )) {
    .inner__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 0.5625 * (100vw - 20rem) / 71.875);
    }
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem )) or (column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem ))) {
    .header__menu {
      -webkit-column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem );
         -moz-column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem );
              column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem )) or (column-gap: clamp( 2.5rem , 1.8043478261rem  +  3.4782608696vw , 5rem ))) {
    .header__menu {
      -webkit-column-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 71.875);
              column-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 71.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem )) or (column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem ))) {
    .action-header {
      -webkit-column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem );
         -moz-column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem );
              column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem )) or (column-gap: clamp( 0.9375rem , 0.7114130435rem  +  1.1304347826vw , 1.75rem ))) {
    .action-header {
      -webkit-column-gap: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.875);
              column-gap: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem )) {
    .action-header__sign-up {
      padding-right: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem )) {
    .action-header__sign-up {
      padding-right: calc(1.25rem + 0.6875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem )) {
    .action-header__sign-up {
      padding-left: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0586956522rem  +  0.9565217391vw , 1.9375rem )) {
    .action-header__sign-up {
      padding-left: calc(1.25rem + 0.6875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9347826087rem  +  7.8260869565vw , 8.125rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 0.9347826087rem  +  7.8260869565vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9347826087rem  +  7.8260869565vw , 8.125rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 5.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (row-gap: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .spollers {
      row-gap: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .spollers {
      row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.597826087rem  +  8.2608695652vw , 12.1875rem )) {
    .hero__inner {
      padding-top: clamp( 6.25rem , 4.597826087rem  +  8.2608695652vw , 12.1875rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.597826087rem  +  8.2608695652vw , 12.1875rem )) {
    .hero__inner {
      padding-top: calc(6.25rem + 5.9375 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.0641304348rem  +  15.3043478261vw , 14.125rem )) {
    .hero__inner {
      padding-bottom: clamp( 3.125rem , 0.0641304348rem  +  15.3043478261vw , 14.125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.0641304348rem  +  15.3043478261vw , 14.125rem )) {
    .hero__inner {
      padding-bottom: calc(3.125rem + 11 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .inner__title--big {
      font-size: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3532608696rem  +  2.6086956522vw , 3.75rem )) {
    .inner__title--big {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 3.75rem , 3.1586956522rem  +  2.9565217391vw , 5.875rem )) {
    .featured {
      padding-top: clamp( 3.75rem , 3.1586956522rem  +  2.9565217391vw , 5.875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.1586956522rem  +  2.9565217391vw , 5.875rem )) {
    .featured {
      padding-top: calc(3.75rem + 2.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.5847826087rem  +  5.8260869565vw , 7.9375rem )) {
    .featured {
      padding-bottom: clamp( 3.75rem , 2.5847826087rem  +  5.8260869565vw , 7.9375rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.5847826087rem  +  5.8260869565vw , 7.9375rem )) {
    .featured {
      padding-bottom: calc(3.75rem + 4.1875 * (100vw - 20rem) / 71.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem )) or (column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem ))) {
    .featured__logos {
      -webkit-column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem );
         -moz-column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem );
              column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem )) or (column-gap: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem ))) {
    .featured__logos {
      -webkit-column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 71.875);
         -moz-column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 71.875);
              column-gap: calc(1.875rem + 3.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (width: clamp( 6.25rem , 5.4152173913rem  +  4.1739130435vw , 9.25rem )) {
    .featured__logos img {
      width: clamp( 6.25rem , 5.4152173913rem  +  4.1739130435vw , 9.25rem );
    }
}

@supports not (width: clamp( 6.25rem , 5.4152173913rem  +  4.1739130435vw , 9.25rem )) {
    .featured__logos img {
      width: calc(6.25rem + 3 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.875rem , 1.4576086957rem  +  2.0869565217vw , 3.375rem )) {
    .featured__logos img {
      font-size: clamp( 1.875rem , 1.4576086957rem  +  2.0869565217vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4576086957rem  +  2.0869565217vw , 3.375rem )) {
    .featured__logos img {
      font-size: calc(1.875rem + 1.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.5391304348rem  +  7.3043478261vw , 10.25rem )) {
    .find-sound__container {
      padding-bottom: clamp( 5rem , 3.5391304348rem  +  7.3043478261vw , 10.25rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.5391304348rem  +  7.3043478261vw , 10.25rem )) {
    .find-sound__container {
      padding-bottom: calc(5rem + 5.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .find-sound__inner {
      margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.527173913rem  +  1.7391304348vw , 3.125rem )) {
    .find-sound__inner {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , -1.152173913rem  +  18.2608695652vw , 15.625rem )) {
    .sync {
      padding-bottom: clamp( 2.5rem , -1.152173913rem  +  18.2608695652vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , -1.152173913rem  +  18.2608695652vw , 15.625rem )) {
    .sync {
      padding-bottom: calc(2.5rem + 13.125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 4.375rem , 3.0706521739rem  +  6.5217391304vw , 9.0625rem )) {
    .creators {
      padding-top: clamp( 4.375rem , 3.0706521739rem  +  6.5217391304vw , 9.0625rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.0706521739rem  +  6.5217391304vw , 9.0625rem )) {
    .creators {
      padding-top: calc(4.375rem + 4.6875 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 5rem , 1.5739130435rem  +  17.1304347826vw , 17.3125rem )) {
    .creators {
      padding-bottom: clamp( 5rem , 1.5739130435rem  +  17.1304347826vw , 17.3125rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 1.5739130435rem  +  17.1304347826vw , 17.3125rem )) {
    .creators {
      padding-bottom: calc(5rem + 12.3125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-top: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-top: calc(1.25rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-bottom: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-bottom: calc(1.25rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-right: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-right: calc(1.25rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-left: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.1108695652rem  +  0.6956521739vw , 1.75rem )) {
    .card__body {
      padding-left: calc(1.25rem + 0.5 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1630434783rem  +  0.4347826087vw , 1.5625rem )) {
    .card__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.1630434783rem  +  0.4347826087vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1630434783rem  +  0.4347826087vw , 1.5625rem )) {
    .card__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.3125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 12.5rem , 9.8913043478rem  +  13.0434782609vw , 21.875rem )) {
    .advantiges__container {
      padding-bottom: clamp( 12.5rem , 9.8913043478rem  +  13.0434782609vw , 21.875rem );
    }
}

@supports not (padding-bottom: clamp( 12.5rem , 9.8913043478rem  +  13.0434782609vw , 21.875rem )) {
    .advantiges__container {
      padding-bottom: calc(12.5rem + 9.375 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0967391304rem  +  1.3913043478vw , 2.375rem )) {
    .advantiges__title {
      font-size: clamp( 1.375rem , 1.0967391304rem  +  1.3913043478vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0967391304rem  +  1.3913043478vw , 2.375rem )) {
    .advantiges__title {
      font-size: calc(1.375rem + 1 * (100vw - 20rem) / 71.875);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 0.8309782609rem  +  6.7826086957vw , 7.0625rem )) {
    .advantiges__title {
      margin-bottom: clamp( 2.1875rem , 0.8309782609rem  +  6.7826086957vw , 7.0625rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 0.8309782609rem  +  6.7826086957vw , 7.0625rem )) {
    .advantiges__title {
      margin-bottom: calc(2.1875rem + 4.875 * (100vw - 20rem) / 71.875);
    }
}

@supports (width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    .column__icon img {
      width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    .column__icon img {
      width: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    .column__icon img {
      height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
    }
}

@supports not (height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
    .column__icon img {
      height: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0554347826rem  +  0.347826087vw , 1.375rem )) {
    .column__link {
      font-size: clamp( 1.125rem , 1.0554347826rem  +  0.347826087vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0554347826rem  +  0.347826087vw , 1.375rem )) {
    .column__link {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-top: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem )) {
    .make-music__body {
      padding-top: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem )) {
    .make-music__body {
      padding-top: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 71.875);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem )) {
    .make-music__body {
      padding-bottom: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 2.1005434783rem  +  0.4347826087vw , 2.5rem )) {
    .make-music__body {
      padding-bottom: calc(2.1875rem + 0.3125 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.1315217391rem  +  1.2173913043vw , 2.25rem )) {
    .make-music__title {
      font-size: clamp( 1.375rem , 1.1315217391rem  +  1.2173913043vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.1315217391rem  +  1.2173913043vw , 2.25rem )) {
    .make-music__title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 71.875);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 91.875em) {
@supports (width: clamp( 18.125rem , 9.4815217391rem  +  43.2173913043vw , 49.1875rem )) {
    .hero__decor {
      width: clamp( 18.125rem , 9.4815217391rem  +  43.2173913043vw , 49.1875rem );
    }
}

@supports not (width: clamp( 18.125rem , 9.4815217391rem  +  43.2173913043vw , 49.1875rem )) {
    .hero__decor {
      width: calc(18.125rem + 31.0625 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 15.625rem , 7.7815217391rem  +  39.2173913043vw , 43.8125rem )) {
    .hero__decor {
      height: clamp( 15.625rem , 7.7815217391rem  +  39.2173913043vw , 43.8125rem );
    }
}

@supports not (height: clamp( 15.625rem , 7.7815217391rem  +  39.2173913043vw , 43.8125rem )) {
    .hero__decor {
      height: calc(15.625rem + 28.1875 * (100vw - 20rem) / 71.875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .hero__decor {
    width: 18.125rem;
  }

  .hero__decor {
    height: 15.625rem;
  }
}

@media (any-hover: hover) {
  .inner__btn:hover {
    background-color: rgb(40, 165, 255);
  }

  .menu__link:hover {
    color: #958A8A;
  }

  .action-header__login:hover {
    color: #958A8A;
  }

  .action-header__sign-up:hover {
    color: #958A8A;
    background: #000;
  }

  .spollers__link:hover {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
  }

  .social__item:hover {
    scale: 1.2;
  }

  .list-privecy__item:hover {
    text-decoration: underline;
  }

  .user__name:hover {
    text-decoration: underline;
  }

  .column__link:hover {
    text-decoration: underline;
  }

  .make-music a:hover {
    background: linear-gradient(95deg, #a659ff -28.73%, #7178ff 23.23%, #2148ff 62.74%, #ff3517 111.77%);
  }
}